
.dropdown-item {
    display: block !important;
    width: 100%;
    padding: .5rem 1.5rem !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.parent_elem:hover{
    color:#16181b;
    text-decoration:none;
    background-color:#f8f9fa;
}